@import url('https://fonts.googleapis.com/css2?family=Graduate&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Advent+Pro:ital,wght@0,100..900;1,100..900&family=Graduate&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Istok+Web:ital,wght@0,400;0,700;1,400;1,700&display=swap');
* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: 'arial', sans-serif; 
}

body{
    background: url("img/backround.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;

}
.wrapper{
    display:flex;
    justify-content: center;
    align-items: center;
    min-height: 110vh;
    background-color: rgba(0, 0, 0, 0.382);
}
.label1{
    margin: 0;
    padding: 0;
    line-height: 1.5;
    font-family: "Advent Pro", sans-serif;
    font-style: normal;
    font-size: 120px;
    color: #fff;
    position: absolute;
    left: 3cm;
    top: 7cm;
}
.label1 strong {
    font-weight: bold;
}
.nav{
    position: fixed;
    top: 0;
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 100px;
    line-height: 100px;
    background: linear-gradient(rgba(39, 39, 39, 1), transparent);
    z-index: 100;
}
.nav-logo{
    display: flex;
    position: absolute;
    left: 2%;
    top: 15%;
}
.nav-logo img{
    filter: drop-shadow(10px 7px 10px rgba(255, 166, 0, 0.496));
    justify-content: flex-end; 
    width: 70px;
    height: 70px;

}

.nav-menu ul{
    position: fixed;
    right: 2cm;
    display: flex;
}

.nav-menu ul li{
    list-style-type: none; 
}

.nav-menu ul .link{
    text-decoration: none;
    font-weight: 500;
    color: rgb(255, 255, 255);
    padding-bottom:  15px;
    margin: 0 50px;
    
}

.link:hover, .active{
    border-bottom:  2px solid #fff;
}
.nav-button{
    position: absolute;
    left: 3cm;
    top: 16cm;
}
.nav-button .btn{
width:  240px;
height: 60px;
font-weight: 1000;
font-size: 30px;
background: rgb(255, 255, 255);
border: none;
border-radius: 30px;
cursor: pointer;
transition: .3s ease;
}

.btn.white-btn{
    background: rgba(239, 239, 239, 0.992);

}
.btn:hover{
    background: rgba(255, 255, 255, 0.394);
}
.btn.white-btn:hover{
    background: rgba(255, 255, 255, 0.5);
}
.nav-menu-btn{
    display: none;
}
.container{ 
    width: 50%;
    height: 70vh;
    position: absolute;
}

.form-box {
    color: #fff;
    width: 100%;
    max-width: 370px;
    max-height: 370px;
    position: absolute;
    top: 50%;
    left: 95%;
    transform: translate(-50%,-50%);
    background: #eaeaea;
    padding: 40px 30px 70px;
    text-align: center;
    border: none;
    border-radius: 30px;
   
}

.form-box h1 {
    font-family: "Istok Web", sans-serif;
    font-size: 30px;
    margin-bottom: 60px;
    color: #000000;
    position: relative;
}

.input-feild{

    background: #fff;
    margin: 30px 0;
    border-radius: 3px;
    display: flex;
    align-items: center;
    max-height: 40px;
    transition: max-height 0.6s;
    border: 0;
}

input{
    font-family: "Istok Web", sans-serif;
    font-weight: 100;
    width: 100%;
    background: transparent;
    border: 0;
    border-radius: 70%;
    outline: 0;
    padding: 18px 15px;
}

.input-feild i{
    
    margin-left: 15px;
    color: #999;
}

form p{
    
    text-align: left;
    font-size: 13px;
}

.btn-feild{
    position: absolute;
    top: 80%;
    left: 10%;
    align-items: center;
    width: 620px;
    display: flex;
    justify-content: space-between;

}
.btn-feild button{
    flex-basis: 48%;
    background: #930000;
    color: #fff;
    height:  40px;
    border-radius: 10px;
    border: 0;
    outline: 0;
    cursor: pointer;
    transition: background 1s;

}
.btn-feild:hover{
    background: rgb(52, 52, 52)aea;
}
.input-group{
    height: 280px;
    
}
.forgot-password a {
    position: absolute;
    top:71%;
    right: 10%;
    color: #818181;
    text-decoration: underline; 
    font-family: "Istok Web", sans-serif;
    font-size: 12px; 
}

.forgot-password a:hover{
    color: #000000;
}
.overlay{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(88, 88, 88, 0.5); /* Adjust the alpha value (0.5) to control the transparency */
    z-index: 999; /* Ensure it stays on top */
    display: none; /* Initially hide the overlay */
}
